main{
    background: url('../images/informatica.jpg') fixed;
    background-size: cover;
}
md-toolbar.md-home-theme:not(.md-menu-toolbar) {
    background-color: rgba(33,150,243,0);
    color: rgb(255,255,255);
}
md-content.md-home-theme {
    background-color: rgba(255,255,255,0);
}