<!DOCTYPE html>
<div id="container">
    <div class="inner">
        <div class="page_top">
            <div class="main">
                <div class="character">
                    <img src="http://5pb.jp/games/newgame/top/img/c_hifumi.png?4" class="c_hifumi" id="c_hifumi" alt="滝本ひふみ">
                    <img src="http://5pb.jp/games/newgame/top/img/c_yun.png?4" class="c_yun" id="c_yun" alt="飯島ゆん">
                    <img src="http://5pb.jp/games/newgame/top/img/c_hajime.png?4" class="c_hajime" id="c_hajime" alt="篠田はじめ">
                    <img src="http://5pb.jp/games/newgame/top/img/c_aoba.png?4" class="c_aoba" id="c_aoba" alt="涼風青葉">
                </div>
            </div>
        </div>
    </div>
</div>
