<!DOCTYPE html>
<div md-theme="home"
     ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon>&#xE5D2;</md-icon>
                </md-button>
                <h2 flex="15">
                    <span><a href="/">Cósmica</a></span>
                </h2>
                <h2 flex="15">
                    <span><a href="/">Servicios</a></span>
                </h2>
                <h2 flex="15">
                    <span><a href="/">Productos</a></span>
                </h2>
                <span flex></span>
                <md-button class="md-raised" 
                           aria-label="Log in">
                    <span>Iniciar sesión</span>
                </md-button>
                <md-button aria-label="Sign in"
                           class="md-raised"
                           md-colors="{background: 'green'}">
                    <span>Registrate</span>
                </md-button>                
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon>&#xE5D4;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>
<div md-theme="home.body"
     layout="row"
     layout-margin
     layout-xs="row"
     style="height: 87.5%;">
    <div flex-lg="40"
         layout="column"
         layout-xs="column">
        <md-content flex
                    layout="row"
                    class="background">
            <div class="md-padding logotipo">
                <img src="../images/world.png" height="300" width="300" id="world" class="world">
                <img src="../images/title.png" height="400" width="400" id="title" class="title">
            </div>
        </md-content>   
    </div>    
</div>