<!DOCTYPE html>
<div md-theme="home"
     ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon>&#xE5D2;</md-icon>
                </md-button>
                <h2 flex="15">
                    <span><a href="/">Cosmicá</a></span>
                </h2>
                <h2 flex="15">
                    <span><a href="/">Servicios</a></span>
                </h2>
                <h2 flex="15">
                    <span><a href="/">Productos</a></span>
                </h2>
                <span flex></span>
                <md-button class="md-raised" 
                           aria-label="Log in">
                    <span>Iniciar sesión</span>
                </md-button>
                <md-button aria-label="Sign in"
                           class="md-raised"
                           md-colors="{background: 'green'}">
                    <span>Registrate</span>
                </md-button>                
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon>&#xE5D4;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>    
</div>